{% extends "basefile.html" %}
{% block content %}
<div class="container mx-auto text-center">
<h3 class="py-3">EXCHANGE RATES</h3>
<h4 class="pb-3">USD: Amount = {{exchange_rate_dict.get("USD")["value"]}}</h4>
<div class="container text-center mx-auto">
<div class="row container text-center mx-auto" style="width:400px">
    <div class="col-md-6 container">
        <h6><b>Currency code</b></h6>
    </div>
    <div class="col-md-6 container">
        <h6><b>Amount</b></h6>
    </div>
</div>
{% for every_currency in exchange_rate_dict.keys() %}
    <div class="container" style="width:400px">
    <div class="row bg-warning text-dark pt-2 container">
        <div class="col-md-6">
            <p>{{exchange_rate_dict.get(every_currency)["code"]}}</p>
        </div>
        <div class="col-md-6">
            <p><b>{{exchange_rate_dict.get(every_currency)["value"]}}</b></p>
        </div>
    </div><br>
    </div>
{% endfor %}
</div>
</div>
{% endblock %}
